@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d2db;
}
div{
    width: 100%;
    height: 100vh;
    background-color: #8e44ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button{
    padding: 12px 20px;
    background-color: #0b023c;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
}